.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  text-decoration: none;
  color: var(--black-color);
}

.icon {
  width: 26px;
  height: 26px;
  margin-right: 20px;
}

.name {
  font-size: 1.3rem;
  font-weight: 700;
}
